# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/
*.iml

# Ignore Python files
*.pyc
*.egg-info/
dist/
build/

# Ignore data files
data/
*.csv
*.json
*.xls
*.xlsx

# Ignore logs
logs/
*.log

# Ignore virtual environment files
env/
venv/
*.env
myenv/

# Ignore node_modules (if using Node.js)
node_modules/

# Ignore other miscellaneous files
*.tmp
*.bak
*.swp
*.swo